.animecard {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    scroll-behavior: smooth;
}
.cardhead{
    display: flex;
    gap: 8px;
    align-items: center;
}
.bar{
    width: 0.3rem;
    height: 2rem;
    border-radius: 0.375rem;
    background-color: white;
}
.headtitle {
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0;
    color: white;
}

.animeitems{
    position: relative;
}

.leftarrow{
    position: absolute;
    display: flex;
    align-items: center;
    height: 97%;
    z-index: 9;
    background: linear-gradient(to right,#000000,rgba(0, 0, 0, 0.02));
    transition: all 300ms ease-out!important;
    cursor: pointer;
}
.notactive{
    opacity: 0.5;
}

.rightarrow{
    position: absolute;
    display: flex;
    align-items: center;
    height: 98%;
    right: -0.6px;
    z-index: 9;
    background: linear-gradient(to left,#000000,rgba(0, 0, 0, 0.02));
    transition: all 300ms ease-out!important;
    cursor: pointer;
}

.cardcontainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: none;
    gap: 10px;
}

.cardcontainer::-webkit-scrollbar {
    display: none;
}

.carditem {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 175px;
    margin: 0 3px 0 0;
    /* border: 1px solid white; */
    /* align-items: center; */
}

.carditem:hover .cardinfo {
    opacity: 1;
}

.cardimgcontainer {
    width: inherit;
    height: 250px;
    background-color: #1e1e24;
    border-radius: 8px;
    overflow: hidden;
}

.pulse {
    animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 1.5s;
}

.pulseodd {
    animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation-delay: 0.5s;
}

@keyframes pulse {
    0%,
    100% {
