.mangaRead {
  padding: none;
  background-color: #000000; /* Dark background for dark mode */
  color: #ffffff; /* Light text color for dark mode */
  border-radius: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mangaRead img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mangaRead h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #ffffff; /* Highlight title color */
}

.mangaRead p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navigationButtons button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4e148c; /* Button background color */
  color: #fff; /* Button text color */
  transition: background-color 0.3s ease;
}

.navigationButtons button:hover:not(:disabled) {
  background-color: #4e148c; /* Darker shade on hover */
}

.navigationButtons button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #888; /* Disabled button color */
}

.navigationButtons select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ff6f61;
  background-color: #1a1a1a;
  color: #fff;
}
